[submodule "deps/mouse"]
	path = deps/mouse
	url = https://github.com/gfx/p5-Mouse.git
[submodule "deps/mousex-getopt"]
	path = deps/mousex-getopt
	url = https://github.com/gfx/mousex-getopt.git
[submodule "deps/mousex-nativetraits"]
	path = deps/mousex-nativetraits
	url = https://github.com/gfx/p5-MouseX-NativeTraits.git
